header {
  background-image: url("/assets/images/header.jpg");
  background-position: center 25%;
  background-size: cover;
  text-shadow: 0 0 20px #000;
}

.card-canvas {
  background-position: center center;
  background-size: cover;
}