
.organisation .organisation-card-image, .organisation i {
  transition: opacity 0.2s;
}

.organisation .organisation-card-image {
  background-size: cover;
  opacity: 0.3;
}

.organisation .card:hover {
  .organisation-card-image {
    opacity: 1 !important;
  }

  i {
    opacity: 1 !important;
  }
}

.organisation .card {
  margin-top: 3em;
  margin-bottom: 3em;
}

.organisation .organisation-title-icon {
  margin: 0.25em 0.5em auto auto;
  opacity: 0.3;
  color: $primary;
}

.organisation .organisation-sub-icon {
  margin-right: 0.5em;
  margin-left: 0.7em;
}

.card p:last-child {
  margin-bottom: 0px;
}