<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="{{ site.description }}"/>
  <meta name="author" content=""/>

  <title>{{ site.title }}</title>

  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet"/>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css"
        integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
        rel="stylesheet" type="text/css">
</head>
