<h2>
    <i class="fad fa-paper-plane fa-fw mr-1"></i>
    Contact
</h2>
<hr/>
<p>
    <i class="fal fa-at fa-fw mr-1"></i>
    <a href="mailto:hallo@jonathanj.nl">hey@jonathanj.nl</a><br>
</p>
<p>
    <i class="fal fa-id-card fa-fw mr-1"></i>
    <strong>Jonathan Juursema</strong><br>

    <i class="fal fa-location-arrow fa-fw mr-1"></i>
    Enschede<br>

    <i class="fal fa-fw mr-1"></i>
    The Netherlands 🇳🇱
</p>
<p>
    <i class="fab fa-linkedin fa-fw mr-1"></i>
    <a href="https://www.linkedin.com/in/jonathanjuursema" target="_blank">
        Curriculum Vitae
    </a><br>

    <i class="fab fa-github fa-fw mr-1"></i>
    <a href="https://github.com/jonathanjuursema" target="_blank">
        Code Projects
    </a><br>

    <i class="fab fa-flickr fa-fw mr-1"></i>
    <a href="https://www.flickr.com/photos/jonathanjuursema/albums" target="_blank">
        Photography Portfolio
    </a><br>
</p>