---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include navigation.html %} {% include header.html %}
  <!-- Page Content -->
  <div class="container">
    {{ content }}
  </div>
  <!-- /.container -->
  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Force domain name -->
  <script type="text/javascript">
    if (!["jonathanj.nl", "127.0.0.1", "localhost"].includes(window.location.hostname)) {
      window.top.location.href = 'https://jonathanj.nl' + window.location.pathname;
    }
  </script>
</body>

</html>